os:
  - osx
  - linux
language: generic
sudo: required
dist: trusty
osx_image: xcode9
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
env:
  - SWIFT_VERSION=DEVELOPMENT-SNAPSHOT-2018-05-30-a
script:
  - swift package update
  - swift test
after_success: 
  - git clone https://github.com/dn-m/Documentarian && cd Documentarian
  - swift build -c release -Xswiftc -static-stdlib
  - cd ../
  - Documentarian/.build/Release/Documentarian
